@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=PT+Serif&family=Ubuntu:wght@300&display=swap");

#content{
    margin: 0 auto;

}

div{
    max-width: 1600px;
}

header{
   display: grid;
   grid-template-columns:150px auto;
   background-color:#2F4858 ;
}
nav a{
    display: grid;
    justify-content: center;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    background-color:#D90429;
}
#social{
    justify-content: center;
    grid-row: 50px auto;
    grid-column: 50px auto;
}

#logo_link{
    padding-top: 5px;
    justify-items: center;
    align-self: center;
    
}

.logo{
    width: 100px;
    justify-self: top;
}
body {
    grid-template-columns: repeat(8, 20%);
    grid-template-rows: repeat(8 20%);
    background-color: #F5E5FC;
    font-family: 'Ubuntu','Libre+Franklin';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#hero-box{
    display: grid;
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero{
    justify-self: center;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
    
}

#hero-msg h1, #hero-msg h2{
    text-align: center;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    text-decoration-color: black;
}

#hero-msg h1{
    text-decoration-line: underline;
    text-decoration-color: #EF233C;
}
.hero-img{
    
    margin-left: 1000px;
    margin: 0 auto;
}

h1{
    text-align: center;
    text-decoration: underline;
    text-decoration-color:#EF233C ;
}
p{
    font-family: 'montserrat';
    font-size: 120%;
    font-weight: bold;
    margin: auto;
    text-align: center;
}

.racing-img{
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    justify-self: center;
    align-self: center;

}

.Yerfdog-img{
    display: grid;
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: center;
    max-width: 30%;
    padding-left: 20%;
    
}

.Buggy-img{
    display: grid;
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
    align-self: center;
    max-width: 30%;
    padding-left: 20%;
}

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  

  .icon-bar a:hover {
    background-color: #000;
  }
  
  .facebook {
    background: #3B5998;
    color: white;
  }
  
  .twitter {
    background: #55ACEE;
    color: white;
  }
  
  .google {
    background: #dd4b39;
    color: white;
  }
  
  .linkedin {
    background: #007bb5;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }
  
